.header-menu{    
    max-width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr;
    padding: 10px 100px;
    background-color: #484283;  
}
.header-link:hover {
    color: gray;
}
.item-cart{
    width: 30px;
    height:auto;
    padding-left: 10px;
    background: url('../../assets/Vector.svg') 100% 50% no-repeat;
    cursor: pointer;
    margin-right: 20px;
}
.count-product {
    position: absolute;
    display: flex;
    top: 50%;
    left: 90%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #F14F4F;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 9px;
    line-height: 8px;
    align-items: center;
}



@media (max-width: 480px) {   
   .header-menu{    
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    padding: 10px 0;
    justify-content:center;
    align-items: center;
}
}