.cart-title {
    font-weight: 700;
    font-size: 36px;
    color: #444B58;
}
.cart-container {   
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.cart-box {    
    border-radius: 4px; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
    align-items: start;
    gap: 20px;

}
.cart-list {
    width: auto;
    height: 70vh;
    list-style: none;    
    border: 1px solid gray;
    padding: 0;
}
.cart-item{
    display: grid;
    grid-template-columns: 1fr 200px;
    width: 696px;
    height: 124px;
    margin: 20px;
    padding: 0;
    border: 1px solid gray;
    border-radius: 4px;
    align-items: center;
}
.cart-item.cart-opacity > .cart-product-info{
    opacity: 0.5;
}
.cart-product-info{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    align-items: center;
}
.cart-product{
    display: flex;
    flex-direction: column;
}
.cart-product a{
    text-decoration: none;
    color: inherit;
}
.cart-image {
    width: 100px;
    height: 100px;
    background-image: url('../../../assets/image.png');
}
.cart-product-title {
    font-weight: 600;
    font-size: 18px;
    color: #444B58;
    text-decoration: none;
  }
  
  .cart-product-title Link {
    text-decoration: none;
    color: inherit;
  }
  

.cart-product-price{
    font-weight: 400;
    font-size: 16px;
    color: #444B58;
}
.count-buttons {
    display: flex;
    width: 188px;
    height: 50px;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    cursor: pointer;    
}

.count-input {
    width: 48px;
    height: 20px;
    margin: auto 20px;
    border: none;
}
.button-plus {
    background: url("../../assets/plus.svg") 50% 50% no-repeat #F14F4F;
}
.button-minus {
    background: url("../../assets/minus.svg") 50% 50% no-repeat #F14F4F;
}
.cart-delete {
    background-color: inherit;
    border: none;
    color: #B2B5BB;
    margin-left: 50px;
    cursor: pointer;
}

.button-cart {
    margin-left: 140px;
    background: url('../../assets/Vector.svg') 50% 50% no-repeat;
    background-color: #F14F4F;
}
.cart-description {
    width: 100%;
    height: auto;
    list-style: none;
    padding: 0;    
}
.cart-item-text {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}
.cart-item-text:last-child {
    padding-top: 40px;
    border-top: 1px solid #B2B5BB;
}
.cart-totalcount {
    font-weight: 400;
    font-size: 18px;
    color: #B2B5BB;
    margin-bottom: 20px;
}
.cart-total-item{
    font-weight: 400;
    font-size: 18px;
    color: #444B58;
}
.cart-discount{
    font-weight: 600;
    font-size: 18px;
    color: #B2B5BB;
    margin-top: 10px;
    margin-bottom: 20px;
}
.cart-price-discount{
    font-weight: 700;
    font-size: 18px;
    color: #444B58;
}
.cart-total-price{
    font-weight: 600;
    font-size: 24px;
    color: #B2B5BB;
}
.cart-total-discount{
    font-weight: 700;
    font-size: 24px;
    color: #444B58;
}