.product-item {
    max-width: 370px;
    height: 370px;
    border-radius: 6px;
    border: 1px solid #D5D5D5;
    box-sizing: border-box;
}
.product-item span {
  text-decoration: none;
}
.product-imagebox{
    position: relative;
    cursor: pointer;
}
.show-details {
    position: absolute;
    top: 50%;
    left: 25%;
    font-weight: 800;
    font-size: 26px;
    line-height: 38px;
}
.product-card {
    display: grid;
    gap: 20px;
    grid-template-columns: 150px 200px;
    align-items: center;
    justify-content: space-between;
}
.product-info {
    display: grid;    
    grid-template-rows: 1fr 1fr;
    margin-left: 20px;
}
.product-name{
    margin: 0;
    padding: 0;
    width: 200px;
    height: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #444B58;
    text-decoration: none;
    outline: none;
}
.product-cardprice {
    margin: 0;
    width: 50px;
    height: 24px;
    font-weight: 400;
    font-size: 18px;
    color: #444B58;
}
.product-buy {
    margin-left: 140px;
    padding: 0;
    width: 50px;
    height: 50px;    
    border: none;border-radius: 4px;
    color: #FFFFFF;    
    background: url('../../assets/Vector.svg') 50% 50% #F14F4F no-repeat;
    transition: background-color 0.3s;
    transition: all 0.5s ease;
    cursor: pointer;
}
.product-buy:hover {
  background-color: #8C2828;
}
.product-buy:active {
    background-color: #8C2828;
}

.product-item {
    position: relative; 
  }

.product-imagebox {
    position: relative;
    overflow: hidden; 
  }

.product-image {
    transition: opacity 0.3s ease;
  }

.product-imagebox:hover .product-image {
    opacity: 0.5; 
  }

.hide-box {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(213, 213, 213, 0.5);
    color: white;
    font-size: 16px;
    border-radius: 6px;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.product-imagebox:hover .hide-box {
    opacity: 1; 
  }
  .count-buttons{
    transition: all 0.5s ease;
  }
  .cart-minus-plus{
    width: 50px;
    height: 50px;
    background-color: #F14F4F;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s;

}
.count-input {  
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: center;
}
.cart-minus-plus:hover {
    background-color: #8C2828;
}
.button-plus {
    background: url("../../../assets/plus.svg") 50% 50% no-repeat #F14F4F
}
.button-minus {
    background: url("../../../assets/minus.svg") 50% 50% no-repeat #F14F4F
}