.search-input {
    width: 100%;
    height: 62px;
    margin: 20px 0;
    font-weight: 400;
    font-size: 16px;
    color: #B2B5BB;
    border-radius: 4px;
    background-color: #F6F6F6;
    border:1px solid #F6F6F6;
    padding: 0px 20px;
}
.search-input:focus {
    outline: none;
    font-weight: 400;
    color: #444B58;
}