.home-top {
    position: relative;
    

    background-color: #484283;   
}
.backgruond-text {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;
    width: 100%;
    margin: 150px auto;
    font-weight: 700;
    font-size: 200px;
    letter-spacing: 20px;    
    color: rgba(255, 255, 255, 0.12);    
    
}