.header-menu{    
    max-width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr;
    padding: 10px 100px;
    background-color: #484283;  
}
/* .logo-company {
    background: url("../../assets/Logo.svg") no-repeat;
    margin: 0px;
    width: 164px;
    height: 40px;
} */
.header-list {
    display: flex;
    flex-direction:row;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: end;
    align-items: center;
}
.header-item{
    padding: 10px;
    text-decoration: none;
    color: #FFFFFF;    
}
.header-link {
    text-decoration: none;
    color:#FFFFFF;
}
.header-link:hover {
    color: gray;
}
.item-cart{

}
.item-username{

}